/* Styles for Experience section */
@import './../components/variables';

#experience {
  background-color: $bg-purple;

  h1 {
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.3);
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.workList ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 25px;
}

.workListItem {
  background-color: rgba(214, 214, 214, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.workListItem li:last-child {
  margin-bottom: 0px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
  display: inline-block;
}

.workItem {
<<<<<<< HEAD
  width: 100%;
  // height: 8px;
  overflow-y: scroll;
=======
  // width: 100%;
  // height: 8px;
>>>>>>> 60bcef6b3a3d64a6a51f5d8049182b64e6cbd9cb
  // background-color: #999;
  // border-radius: 10px;
  margin-top: 12px;
}

.workTitle {
  display: inline-block;
}
