body {
  height: 100vh;
  box-sizing: border-box;
  //overflow-x:hidden;
}

#root {
  // width: 100% !important;
}

#home {
  height: 100vh;
  width:100%;
  // top:-20px;
  left:0;
  padding:0;
  overflow-y: hidden;
  background: rgb(47, 0, 107);

  img {
    width:105%;
    height:auto;
    // top:-10%;
    margin-left:-4%;
    margin-top: -3% !important;
  }

}

// img {
//   width: 100%;
//   height: auto;
// }

// .landingImgParallax {
//   position: absolute;
//   top: 0;
//   left: 0;
// }
